.add-button {
  margin-top: 1rem;
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;

  .post {
    width: 300px;
    min-height: 300px;
    border: 1px solid lightgrey;
    margin-bottom: 13px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;

    img {
      max-width: 100%;
    }

    .title {
      font-size: 14px;
      font-weight: 600;
      color: slategray;
      text-align: justify;
      margin: 5px 0;
    }

    .body {
      font-size: 12px;
      text-align: justify;
    }

    .buttons {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
    }

    &:hover {
      box-shadow: 0 8px 6px -6px black
    }
  }

  .sticker {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    display: flex;
    padding: 5px;
    margin: 10px;
    border-radius: 100%;
  }
}
