<!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
<mat-form-field class="example-form-field">
  <mat-label>Write something...</mat-label>
  <input matInput type="text" [(ngModel)]="searchTerm" name="searchTerm">
  <button mat-button matSuffix mat-icon-button aria-label="Clear">
  </button>
</mat-form-field>

<div *ngIf="!isLoading && isLogin">
  <h3>Posts ({{ posts.length }})</h3>
  <div class="posts">
    <div class="post" *ngFor="
        let post of posts | paginate: { itemsPerPage: 6, currentPage: page } | postSearch:searchTerm"
      id="{{ post._id }}">
      <img src="{{ post.image }}" alt="" />
      <span class="title">{{ post.title }}</span>
      <span class="body">{{ post.body }}</span>
      <div class="buttons">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon"
          (click)="deletePost(post._id)" matTooltip="Click to delete a post" matTooltipPosition="below">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
          (click)="openEditDialog(post)" matTooltip="Click to edit a post" matTooltipPosition="below">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <span *ngIf="post.checked" class="sticker">
        <mat-icon>check</mat-icon>
      </span>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="page = $event" maxSize="5"></pagination-controls>
  </div>
</div>
