/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button,
li,
a {
  outline: none !important;
}

.container {
  position: relative;

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    li {
      background: #f44336;
      color: #fefefe;
      cursor: pointer;
      border-radius: 100%;
      margin: 0 5px;

      &.pagination-previous,
      &.pagination-next {
        background: transparent;
        color: slategray;
      }

      &.current {
        border-radius: 0px;
      }

      a {
        text-decoration: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.cdk-global-overlay-wrapper {
  .mat-snack-bar-container {
    color: slategray;
    background: #cbebd3;
    box-shadow: none;
  }
}
